[submodule "lib/BME280_driver"]
	path = lib/BME280_driver
	url = https://github.com/boschsensortec/BME280_driver.git
[submodule "lib/ssd1306"]
	path = lib/ssd1306
	url = https://github.com/lexus2k/ssd1306.git
